@import url(https://fonts.googleapis.com/css?family=Roboto);html,
body,
ul,
ol {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

.main {
  width: 800px;
  height: auto;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e5e8ec;
  background: #fbfdff;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.main__content, .main__left-content, .main__right-content {
  padding: 20px; }

.main__left-content {
  width: 300px; }

.main__right-content {
  width: 300px; }

.search {
  height: 40px;
  width: inherit;
  padding: 5px 10px;
  font-size: 17px;
  border: 1px solid #e5e8ec; }

.data-list {
  margin: 25px 0 0 0;
  padding: 15px;
  border: 1px solid #e5e8ec;
  height: auto;
  width: auto; }

.data-list__content {
  margin: 0 0 6px 0;
  list-style-type: none;
  color: #4C75F3;
  cursor: pointer; }

.active-user {
  padding: 15px;
  border: 1px solid #e5e8ec; }
